@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  position: relative;
}

.section{
  color: black;
  background: white;
  padding: 35px 200px;
  transition: 0.3s ease;
}


/*=======Mise en place du Header=======*/

header{
  z-index: 999;
  position: sticky;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
  background: white;
  box-shadow: 0px 0px 13px 0px rgb(0 0 0 /13%);
}

header .nav-bar{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.3s ease;
}
.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

l.nav-items i {
  margin-right: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  visibility: hidden;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  padding:15px 0px 15px 30px;
  line-height: 30px;
  display: block;
  visibility: visible;
  background: white;
  width:200%;
  box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.2);
  
}

/*=======Mise en place du logo dans le header=======*/

.l-o-g-o{
  position: relative;
  justify-content: center;
  width: 100%;
  display: flex;
  transition: 0.3s ease;
}
.l-o-g-o .logo{
  margin-top: 30px;
  font-size: 1.8vw;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo{
  color:#ec728d;
}

.logo_svg { 
  margin-top: 15px;
  margin-right: 15px;
  pointer-events: all;
  position : sticky; 
  left : 100px; 
  top : 15px;
  width: 80px; 
}

/*=======Mise en place de la barre de navigation=======*/

.nav-close-btn, .nav-menu-btn{
  display: none;
}

.navigation .nav-items a{
  color: black;
  font-size: 1em;
  text-decoration: none;
}

.navigation .nav-items a i{
  display: none;
}

.navigation .nav-items a:not(:last-child){
  margin-right: 45px;
}
/*=======section-home=======*/
.home{
  min-height: 100vh;
}

.home:before{
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent 0% , white 100%);
}

/*======= Adaptation à la taille de l'écran (max-width: 1100px) =======*/
@media screen and (max-width: 1100px){
  header .nav-bar{
    padding: 0 50px;
  }

  .section{
    padding: 25px 50px;
  }

  .media-icons{
    right: 0;
    margin-right: 50px;
  }

  .text-content{
    margin: 0 120px 0 50px;
  }
}

/*======= Adaptation à la taille de l'écran (max-width: 785px) =======*/
@media screen and (max-width: 785px){
  header .nav-bar
  {
    padding: 25px 20px;
  }
  .section{
    padding: 25px 20px;
  }
  .media-icons{
    margin-right: 20px;
  }
  .media-icons a{
    font-size: 1.5em;
  }
  .text-content{
  margin: 0 70px 0 20px;
  }
  .text-content .title{
  font-size: 3em;
  }
  .text-content .title span{
  font-size: 0.35em;
  }
  .text-content p{
  font-size: 0.9em;
  }
  .text-content .read-btn{
  font-size: 0.9em;
  padding: 5px 15px;
  }
}


/*======= Media icons =======*/
.home .media-icons{
  z-index: 998;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px;
  justify-content: center;
}

.home .media-icons a{
  color: black;
  font-size: 1.7em;
  margin: 10px 0;
}

#slider{
  width: 100%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  overflow:hidden;
  list-style:none;
  padding:0;
  z-index:1
}


#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 500%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
  flex-shrink: 0;
}
#slider ul li {
  width: 20%;
  height:auto;
  position: relative;
  float: left;
}
#slider ul li img{
  width: 100%;
  height: auto;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

 
#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}



/*=======Texte sur le slider=======*/

.text-content{
  position: absolute;
  top: 25%;
  margin: 0 200px;
  transition: 0.3s ease;
}
.text-content .title{
  color: white;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 20px;
  opacity: 0;
  opacity: 1;
}

.text-content .title span{
  font-size: 0.3em;
  font-weight: 300;
}
.text-content p{
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 1;
}
.text-content .read-btn{
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}
.text-content .read-btn a{
  text-decoration: none;
  color: black;
}
.text-content .read-btn i{
  font-size: 1.6em;
  transition: 0.3s ease;
}
.text-content .read-btn:hover i{
  transform: translateX(5px);
}

/*=======Mise en place des des boites de présentation des chefs=======*/

.chef{
  text-align: center;
}

.a-box1 {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin:30px;
}
.a-box2 {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin:30px;
}
.a-box1 { transition: all .2s ease-in-out; }
.a-box1:hover { transform: scale(1.1); }


.a-box2 { transition: all .2s ease-in-out; }
.a-box2:hover { transform: scale(1.1); }


.img-container{
  position: relative;
  height: auto;
  width: 200px;
  overflow: hidden;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  border-radius: 20px;

}
.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #ec728d;
  font-size: 18px;
}

/*=======Mise ne place du footer=======*/

footer{ 
  background-color:#ffccd5;
  padding:30px;
}
.colonne1{
  text-align:center;
  flex:left;
  margin-right:50px;
  
}
.colonne2{
  text-align:center;
  flex:left;
  margin-right:50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.colonne2 a{
  color: black;
  font-size: 1.4em;
  margin: 15px ;
}
.row{
  
  text-align:center;
  color:black;
  display:flex;
  justify-content:center;

  background-color:white;
  border-radius:15px;
  padding-bottom:30px;
}

.row ul{
  list-style-type:none;
  display:inline;
}
.row a{
  color:black;
  text-decoration:none;
  
}

/*==============CSS POUR LES PAGES RECETTES==============*/
.présentation{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;  
  color:#ec728d;
}
.présentation h1{
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;

}
.text-container2 {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  background: #fff;
  line-height: 19px;
  font-size: 14px;
  padding: 10px;
  width: 130%;
}

.text-container2 h3 {
  padding: 10px 10px 10px 10px;
  color: #ec728d;
  font-size: 18px;
}
.text-container2 h4 {
  padding: 10px 10px 10px 10px;

}
.text-container2 ul{
  list-style-type:none;
  display:inline;
}

.parisbrest{
  margin-top: 40px;
  width:80%;
  border-radius: 15px;
}
.a-box2 {
  width: 20%;
  height: 25vh; // experiment with this value, try changing to 110vh
  min-height: 200px;
  position: sticky;
  top: 20%;
  margin-bottom: 20%;
}

.préparation {
  width: 60%;
  height: auto;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.préparation,
.a-box2 {
  padding: 15px;
}

.recette {
  display: flex;
  justify-content: space-between;
  margin: 0% 10% 5% 10%;
}
